# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/

# Environment
.env

#frontend
frontend/src/firebase.js

#Ignore Firebase Admin SDK Key
codelife-9e846-firebase-adminsdk-fbsvc-53ac4d61e7.json

# General log files
*.log

# Temporary files
tmp/

# Python cache and environment files
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
backend/app/models/logreg_20k.pkl
backend/app/models/svm_20k.pkl
backend/app/models/tfidf_20k.pkl
backend/app/models/distilbert-phishing/config.json
backend/app/models/distilbert-phishing/training_args.bin
backend/app/models/distilbert-phishing/trainer_state.json
backend/app/models/distilbert-phishing/scheduler.pt
backend/app/models/distilbert-phishing/rng_state.pth
.gitignore
