fastapi
uvicorn[standard]
python-dotenv
firebase-admin
slowapi
aiohttp
feedparser
transformers
torch
scikit-learn
beautifulsoup4
langchain
langchain-community
langchain-google-genai
chromadb
sentence-transformers
langchain-huggingface
openai
python-multipart
docker
bandit
semgrep